@charset "UTF-8";

.show-all {
  display: inherit;
}

.hide-all {
  display: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.push-left {
	float: left;
}

.clear {
  clear: both !important;
}

.push-center {
	float: none !important;
	margin-left: auto;
	margin-right: auto;
}

.push-right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.clearfix {
	overflow: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

[hidden], template {
  display: none;
}

.ink-button {
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  line-height: normal;
}

.ink-button + .ink-button {
  margin-left: 5px;
}

.ink-grid {
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
}

.all-5 {
  width: 5%;
  float: left;
  clear: none;
}

.all-10 {
  width: 10%;
  float: left;
  clear: none;
}

.all-15 {
  width: 15%;
  float: left;
  clear: none;
}

.all-20 {
  width: 20%;
  float: left;
  clear: none;
}

.all-25 {
  width: 25%;
  float: left;
  clear: none;
}

.all-30 {
  width: 30%;
  float: left;
  clear: none;
}

.all-33 {
  width: 33.33%;
  float: left;
  clear: none;
}

.all-35 {
  width: 35%;
  float: left;
  clear: none;
}

.all-40 {
  width: 40%;
  float: left;
  clear: none;
}

.all-45 {
  width: 45%;
  float: left;
  clear: none;
}

.all-50 {
  width: 50%;
  float: left;
  clear: none;
}

.all-55 {
  width: 55%;
  float: left;
  clear: none;
}

.all-60 {
  width: 60%;
  float: left;
  clear: none;
}

.all-65 {
  width: 65%;
  float: left;
  clear: none;
}

.all-66 {
  width: 66.66%;
  float: left;
  clear: none;
}

.all-70 {
  width: 70%;
  float: left;
  clear: none;
}

.all-75 {
  width: 75%;
  float: left;
  clear: none;
}

.all-80 {
  width: 80%;
  float: left;
  clear: none;
}

.all-85 {
  width: 85%;
  float: left;
  clear: none;
}

.all-90 {
  width: 90%;
  float: left;
  clear: none;
}

.all-95 {
  width: 95%;
  float: left;
  clear: none;
}

.all-100 {
  width: 100%;
  float: left;
  clear: none;
}

[class~=all-100] {
  float: none;
  clear: both;
}

@media screen and (min-width: 1261px) {

  .ink-grid {
	padding: 0 2em;
  }

  .column-group > [class*=xlarge-] {
	float: left;
	clear: none;
  }

  .xlarge-5 {
	width: 5%;
  }

  .xlarge-10 {
	width: 10%;
  }

  .xlarge-15 {
	width: 15%;
  }

  .xlarge-20 {
	width: 20%;
  }

  .xlarge-25 {
	width: 25%;
  }

  .xlarge-30 {
	width: 30%;
  }

  .xlarge-33 {
	width: 33.33%;
  }

  .xlarge-35 {
	width: 35%;
  }

  .xlarge-40 {
	width: 40%;
  }

  .xlarge-45 {
	width: 45%;
  }

  .xlarge-50 {
	width: 50%;
  }

  .xlarge-55 {
	width: 55%;
  }

  .xlarge-60 {
	width: 60%;
  }

  .xlarge-65 {
	width: 65%;
  }

  .xlarge-66 {
	width: 66.66%;
  }

  .xlarge-70 {
	width: 70%;
  }

  .xlarge-75 {
	width: 75%;
  }

  .xlarge-80 {
	width: 80%;
  }

  .xlarge-85 {
	width: 85%;
  }

  .xlarge-90 {
	width: 90%;
  }

  .xlarge-95 {
	width: 95%;
  }

  .xlarge-100 {
	width: 100%;
  }

  [class*=xlarge-100] {
	float: none;
	clear: both;
  }

  .column-group:after {
	content: "";
	display: table;
	clear: both;
  }

  .column-group.gutters {
	margin-left: -2em;
  }

  .column-group.gutters > [class*=xlarge-],
  .column-group.gutters > [class*=all-] {
	padding-left: 2em;
	margin-bottom: 2em;
  }

  .column-group.half-gutters {
	margin-left: -1em;
  }

  .column-group.half-gutters > [class*=xlarge-],
  .column-group.half-gutters > [class*=all-] {
	padding-left: 1em;
	margin-bottom: 1em;
  }

  .space {
	margin: 2em;
  }

  .padding {
	padding: 2em;
  }

  .double-space {
	margin: 4em;
  }

  .double-padding {
	padding: 4em;
  }

  .half-space {
	margin: 1em;
  }

  .half-padding {
	padding: 1em;
  }

  .quarter-space {
	margin: 0.5em;
  }

  .quarter-padding {
	padding: 0.5em;
  }

  .vertical-space {
	margin-top: 2em;
	margin-bottom: 2em;
  }

  .vertical-padding {
	padding-top: 2em;
	padding-bottom: 2em;
  }

  .double-vertical-space {
	margin-top: 4em;
	margin-bottom: 4em;
  }

  .double-vertical-padding {
	padding-top: 4em;
	padding-bottom: 4em;
  }

  .half-vertical-space {
	margin-top: 1em;
	margin-bottom: 1em;
  }

  .half-vertical-padding {
	padding-top: 1em;
	padding-bottom: 1em;
  }

  .quarter-vertical-space {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  }

  .quarter-vertical-padding {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
  }

  .horizontal-space {
	margin-left: 2em;
	margin-right: 2em;
  }

  .horizontal-padding {
	padding-left: 2em;
	padding-right: 2em;
  }

  .double-horizontal-space {
	margin-left: 4em;
	margin-right: 4em;
  }

  .double-horizontal-padding {
	padding-left: 4em;
	padding-right: 4em;
  }

  .half-horizontal-space {
	margin-left: 1em;
	margin-right: 1em;
  }

  .half-horizontal-padding {
	padding-left: 1em;
	padding-right: 1em;
  }

  .quarter-horizontal-space {
	margin-left: 0.5em;
	margin-right: 0.5em;
  }

  .quarter-horizontal-padding {
	padding-left: 0.5em;
	padding-right: 0.5em;
  }

  .top-space {
	margin-top: 2em;
  }

  .top-padding {
	padding-top: 2em;
  }

  .double-top-space {
	margin-top: 4em;
  }

  .double-top-padding {
	padding-top: 4em;
  }

  .half-top-space {
	margin-top: 1em;
  }

  .half-top-padding {
	padding-top: 1em;
  }

  .quarter-top-space {
	margin-top: 0.5em;
  }

  .quarter-top-padding {
	padding-top: 0.5em;
  }

  .right-space {
	margin-right: 2em;
  }

  .right-padding {
	padding-right: 2em;
  }

  .double-right-space {
	margin-right: 4em;
  }

  .double-right-padding {
	padding-right: 4em;
  }

  .half-right-space {
	margin-right: 1em;
  }

  .half-right-padding {
	padding-right: 1em;
  }

  .quarter-right-space {
	margin-right: 0.5em;
  }

  .quarter-right-padding {
	padding-right: 0.5em;
  }

  .bottom-space {
	margin-bottom: 2em;
  }

  .bottom-padding {
	padding-bottom: 2em;
  }

  .double-bottom-space {
	margin-bottom: 4em;
  }

  .double-bottom-padding {
	padding-bottom: 4em;
  }

  .half-bottom-space {
	margin-bottom: 1em;
  }

  .half-bottom-padding {
	padding-bottom: 1em;
  }

  .quarter-bottom-space {
	margin-bottom: 0.5em;
  }

  .quarter-bottom-padding {
	padding-bottom: 0.5em;
  }

  .left-space {
	margin-left: 2em;
  }

  .left-padding {
	padding-left: 2em;
  }

  .double-left-space {
	margin-left: 4em;
  }

  .double-left-padding {
	padding-left: 4em;
  }

  .half-left-space {
	margin-left: 1em;
  }

  .half-left-padding {
	padding-left: 1em;
  }

  .quarter-left-space {
	margin-left: 0.5em;
  }

  .quarter-left-padding {
	padding-left: 0.5em;
  }
}

@media screen and (min-width: 961px) and (max-width: 1260px) {

  .ink-grid {
	padding: 0 1.75em;
  }

  .column-group > [class*=large-] {
	float: left;
	clear: none;
  }

  .large-5 {
	width: 5%;
  }

  .large-10 {
	width: 10%;
  }

  .large-15 {
	width: 15%;
  }

  .large-20 {
	width: 20%;
  }

  .large-25 {
	width: 25%;
  }

  .large-30 {
	width: 30%;
  }

  .large-33 {
	width: 33.33%;
  }

  .large-35 {
	width: 35%;
  }

  .large-40 {
	width: 40%;
  }

  .large-45 {
	width: 45%;
  }

  .large-50 {
	width: 50%;
  }

  .large-55 {
	width: 55%;
  }

  .large-60 {
	width: 60%;
  }

  .large-65 {
	width: 65%;
  }

  .large-66 {
	width: 66.66%;
  }

  .large-70 {
	width: 70%;
  }

  .large-75 {
	width: 75%;
  }

  .large-80 {
	width: 80%;
  }

  .large-85 {
	width: 85%;
  }

  .large-90 {
	width: 90%;
  }

  .large-95 {
	width: 95%;
  }

  .large-100 {
	width: 100%;
  }

  [class*=large-100] {
	float: none;
	clear: both;
  }

  .column-group:after {
	content: "";
	display: table;
	clear: both;
  }

  .column-group.gutters {
	margin-left: -1.75em;
  }

  .column-group.gutters > [class*=large-],
  .column-group.gutters > [class*=all-] {
	padding-left: 1.75em;
	margin-bottom: 1.75em;
  }

  .column-group.half-gutters {
	margin-left: -0.875em;
  }

  .column-group.half-gutters > [class*=large-],
  .column-group.half-gutters > [class*=all-] {
	padding-left: 0.875em;
	margin-bottom: 0.875em;
  }

  .space {
	margin: 1.75em;
  }

  .padding {
	padding: 1.75em;
  }

  .double-space {
	margin: 3.5em;
  }

  .double-padding {
	padding: 3.5em;
  }

  .half-space {
	margin: 0.875em;
  }

  .half-padding {
	padding: 0.875em;
  }

  .quarter-space {
	margin: 0.4375em;
  }

  .quarter-padding {
	padding: 0.4375em;
  }

  .vertical-space {
	margin-top: 1.75em;
	margin-bottom: 1.75em;
  }

  .vertical-padding {
	padding-top: 1.75em;
	padding-bottom: 1.75em;
  }

  .double-vertical-space {
	margin-top: 3.5em;
	margin-bottom: 3.5em;
  }

  .double-vertical-padding {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
  }

  .half-vertical-space {
	margin-top: 0.875em;
	margin-bottom: 0.875em;
  }

  .half-vertical-padding {
	padding-top: 0.875em;
	padding-bottom: 0.875em;
  }

  .quarter-vertical-space {
	margin-top: 0.4375em;
	margin-bottom: 0.4375em;
  }

  .quarter-vertical-padding {
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
  }

  .horizontal-space {
	margin-left: 1.75em;
	margin-right: 1.75em;
  }

  .horizontal-padding {
	padding-left: 1.75em;
	padding-right: 1.75em;
  }

  .double-horizontal-space {
	margin-left: 3.5em;
	margin-right: 3.5em;
  }

  .double-horizontal-padding {
	padding-left: 3.5em;
	padding-right: 3.5em;
  }

  .half-horizontal-space {
	margin-left: 0.875em;
	margin-right: 0.875em;
  }

  .half-horizontal-padding {
	padding-left: 0.875em;
	padding-right: 0.875em;
  }

  .quarter-horizontal-space {
	margin-left: 0.4375em;
	margin-right: 0.4375em;
  }

  .quarter-horizontal-padding {
	padding-left: 0.4375em;
	padding-right: 0.4375em;
  }

  .top-space {
	margin-top: 1.75em;
  }

  .top-padding {
	padding-top: 1.75em;
  }

  .double-top-space {
	margin-top: 3.5em;
  }

  .double-top-padding {
	padding-top: 3.5em;
  }

  .half-top-space {
	margin-top: 0.875em;
  }

  .half-top-padding {
	padding-top: 0.875em;
  }

  .quarter-top-space {
	margin-top: 0.4375em;
  }

  .quarter-top-padding {
	padding-top: 0.4375em;
  }

  .right-space {
	margin-right: 1.75em;
  }

  .right-padding {
	padding-right: 1.75em;
  }

  .double-right-space {
	margin-right: 3.5em;
  }

  .double-right-padding {
	padding-right: 3.5em;
  }

  .half-right-space {
	margin-right: 0.875em;
  }

  .half-right-padding {
	padding-right: 0.875em;
  }

  .quarter-right-space {
	margin-right: 0.4375em;
  }

  .bottom-space {
	margin-bottom: 1.75em;
  }

  .bottom-padding {
	padding-bottom: 1.75em;
  }

  .double-bottom-space {
	margin-bottom: 3.5em;
  }

  .double-bottom-padding {
	padding-bottom: 3.5em;
  }

  .half-bottom-space {
	margin-bottom: 0.875em;
  }

  .half-bottom-padding {
	padding-bottom: 0.875em;
  }

  .quarter-bottom-space {
	margin-bottom: 0.4375em;
  }

  .quarter-bottom-padding {
	padding-bottom: 0.4375em;
  }

  .left-space {
	margin-left: 1.75em;
  }

  .left-padding {
	padding-left: 1.75em;
  }

  .double-left-space {
	margin-left: 3.5em;
  }

  .double-left-padding {
	padding-left: 3.5em;
  }

  .half-left-space {
	margin-left: 0.875em;
  }

  .half-left-padding {
	padding-left: 0.875em;
  }

  .quarter-left-space {
	margin-left: 0.4375em;
  }

  .quarter-left-padding {
	padding-left: 0.4375em;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {

  .ink-grid {
	padding: 0 1.5em;
  }

  .column-group > [class*=medium-] {
	float: left;
	clear: none;
  }

  .medium-5 {
	width: 5%;
  }

  .medium-10 {
	width: 10%;
  }

  .medium-15 {
	width: 15%;
  }

  .medium-20 {
	width: 20%;
  }

  .medium-25 {
	width: 25%;
  }

  .medium-30 {
	width: 30%;
  }

  .medium-33 {
	width: 33.33%;
  }

  .medium-35 {
	width: 35%;
  }

  .medium-40 {
	width: 40%;
  }

  .medium-45 {
	width: 45%;
  }

  .medium-50 {
	width: 50%;
  }

  .medium-55 {
	width: 55%;
  }

  .medium-60 {
	width: 60%;
  }

  .medium-65 {
	width: 65%;
  }

  .medium-66 {
	width: 66.66%;
  }

  .medium-70 {
	width: 70%;
  }

  .medium-75 {
	width: 75%;
  }

  .medium-80 {
	width: 80%;
  }

  .medium-85 {
	width: 85%;
  }

  .medium-90 {
	width: 90%;
  }

  .medium-95 {
	width: 95%;
  }

  .medium-100 {
	width: 100%;
  }

  [class*=medium-100] {
	float: none;
	clear: both;
  }

  .column-group:after {
	content: "";
	display: table;
	clear: both;
  }

  .column-group.gutters {
	margin-left: -1.5em;
  }

  .column-group.gutters > [class*=medium-],
  .column-group.gutters > [class*=all-] {
	padding-left: 1.5em;
	margin-bottom: 1.5em;
  }

  .column-group.half-gutters {
	margin-left: -0.75em;
  }

  .column-group.half-gutters > [class*=medium-],
  .column-group.half-gutters > [class*=all-] {
	padding-left: 0.75em;
	margin-bottom: 0.75em;
  }

  .space {
	margin: 1.5em;
  }

  .padding {
	padding: 1.5em;
  }

  .double-space {
	margin: 3em;
  }

  .double-padding {
	padding: 3em;
  }

  .half-space {
	margin: 0.75em;
  }

  .half-padding {
	padding: 0.75em;
  }

  .quarter-space {
	margin: 0.375em;
  }

  .quarter-padding {
	padding: 0.375em;
  }

  .vertical-space {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
  }

  .vertical-padding {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
  }

  .double-vertical-space {
	margin-top: 3em;
	margin-bottom: 3em;
  }

  .double-vertical-padding {
	padding-top: 3em;
	padding-bottom: 3em;
  }

  .half-vertical-space {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
  }

  .half-vertical-padding {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
  }

  .quarter-vertical-space {
	margin-top: 0.375em;
	margin-bottom: 0.375em;
  }

  .quarter-vertical-padding {
	padding-top: 0.375em;
	padding-bottom: 0.375em;
  }

  .horizontal-space {
	margin-left: 1.5em;
	margin-right: 1.5em;
  }

  .horizontal-padding {
	padding-left: 1.5em;
	padding-right: 1.5em;
  }

  .double-horizontal-space {
	margin-left: 3em;
	margin-right: 3em;
  }

  .double-horizontal-padding {
	padding-left: 3em;
	padding-right: 3em;
  }

  .half-horizontal-space {
	margin-left: 0.75em;
	margin-right: 0.75em;
  }

  .half-horizontal-padding {
	padding-left: 0.75em;
	padding-right: 0.75em;
  }

  .quarter-horizontal-space {
	margin-left: 0.375em;
	margin-right: 0.375em;
  }

  .quarter-horizontal-padding {
	padding-left: 0.375em;
	padding-right: 0.375em;
  }

  .top-space {
	margin-top: 1.5em;
  }

  .top-padding {
	padding-top: 1.5em;
  }

  .double-top-space {
	margin-top: 3em;
  }

  .double-top-padding {
	padding-top: 3em;
  }

  .half-top-space {
	margin-top: 0.75em;
  }

  .half-top-padding {
	padding-top: 0.75em;
  }

  .quarter-top-space {
	margin-top: 0.375em;
  }

  .quarter-top-padding {
	padding-top: 0.375em;
  }

  .right-space {
	margin-right: 1.5em;
  }

  .right-padding {
	padding-right: 1.5em;
  }

  .double-right-space {
	margin-right: 3em;
  }

  .double-right-padding {
	padding-right: 3em;
  }

  .half-right-space {
	margin-right: 0.75em;
  }

  .half-right-padding {
	padding-right: 0.75em;
  }

  .quarter-right-space {
	margin-right: 0.375em;
  }

  .quarter-right-padding {
	padding-right: 0.375em;
  }

  .bottom-space {
	margin-bottom: 1.5em;
  }

  .bottom-padding {
	padding-bottom: 1.5em;
  }

  .double-bottom-space {
	margin-bottom: 3em;
  }

  .double-bottom-padding {
	padding-bottom: 3em;
  }

  .half-bottom-space {
	margin-bottom: 0.75em;
  }

  .half-bottom-padding {
	padding-bottom: 0.75em;
  }

  .quarter-bottom-space {
	margin-bottom: 0.375em;
  }

  .quarter-bottom-padding {
	padding-bottom: 0.375em;
  }

  .left-space {
	margin-left: 1.5em;
  }

  .left-padding {
	padding-left: 1.5em;
  }

  .double-left-space {
	margin-left: 3em;
  }

  .double-left-padding {
	padding-left: 3em;
  }

  .half-left-space {
	margin-left: 0.75em;
  }

  .half-left-padding {
	padding-left: 0.75em;
  }

  .quarter-left-space {
	margin-left: 0.375em;
  }

  .quarter-left-padding {
	padding-left: 0.375em;
  }
}

@media screen and (min-width: 321px) and (max-width: 640px) {

  .ink-grid {
	padding: 0 1.25em;
  }

  .column-group > [class*=small-] {
	float: left;
	clear: none;
  }

  .small-5 {
	width: 5%;
  }

  .small-10 {
	width: 10%;
  }

  .small-15 {
	width: 15%;
  }

  .small-20 {
	width: 20%;
  }

  .small-25 {
	width: 25%;
  }

  .small-30 {
	width: 30%;
  }

  .small-33 {
	width: 33.33%;
  }

  .small-35 {
	width: 35%;
  }

  .small-40 {
	width: 40%;
  }

  .small-45 {
	width: 45%;
  }

  .small-50 {
	width: 50%;
  }

  .small-55 {
	width: 55%;
  }

  .small-60 {
	width: 60%;
  }

  .small-65 {
	width: 65%;
  }

  .small-66 {
	width: 66.66%;
  }

  .small-70 {
	width: 70%;
  }

  .small-75 {
	width: 75%;
  }

  .small-80 {
	width: 80%;
  }

  .small-85 {
	width: 85%;
  }

  .small-90 {
	width: 90%;
  }

  .small-95 {
	width: 95%;
  }

  .small-100 {
	width: 100%;
  }

  [class*=small-100] {
	float: none;
	clear: both;
  }

  .column-group:after {
	content: "";
	display: table;
	clear: both;
  }

  .column-group.gutters {
	margin-left: -1.25em;
  }

  .column-group.gutters > [class*=small-],
  .column-group.gutters > [class*=all-] {
	padding-left: 1.25em;
	margin-bottom: 1.25em;
  }

  .column-group.half-gutters {
	margin-left: -0.625em;
  }

  .column-group.half-gutters > [class*=small-],
  .column-group.half-gutters > [class*=all-] {
	padding-left: 0.625em;
	margin-bottom: 0.625em;
  }

  .space {
	margin: 1.25em;
  }

  .padding {
	padding: 1.25em;
  }

  .double-space {
	margin: 2.5em;
  }

  .double-padding {
	padding: 2.5em;
  }

  .half-space {
	margin: 0.625em;
  }

  .half-padding {
	padding: 0.625em;
  }

  .quarter-space {
	margin: 0.3125em;
  }

  .quarter-padding {
	padding: 0.3125em;
  }

  .vertical-space {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
  }

  .vertical-padding {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
  }

  .double-vertical-space {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
  }

  .double-vertical-padding {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
  }

  .half-vertical-space {
	margin-top: 0.625em;
	margin-bottom: 0.625em;
  }

  .half-vertical-padding {
	padding-top: 0.625em;
	padding-bottom: 0.625em;
  }

  .quarter-vertical-space {
	margin-top: 0.3125em;
	margin-bottom: 0.3125em;
  }

  .quarter-vertical-padding {
	padding-top: 0.3125em;
	padding-bottom: 0.3125em;
  }

  .horizontal-space {
	margin-left: 1.25em;
	margin-right: 1.25em;
  }

  .horizontal-padding {
	padding-left: 1.25em;
	padding-right: 1.25em;
  }

  .double-horizontal-space {
	margin-left: 2.5em;
	margin-right: 2.5em;
  }

  .double-horizontal-padding {
	padding-left: 2.5em;
	padding-right: 2.5em;
  }

  .half-horizontal-space {
	margin-left: 0.625em;
	margin-right: 0.625em;
  }

  .half-horizontal-padding {
	padding-left: 0.625em;
	padding-right: 0.625em;
  }

  .quarter-horizontal-space {
	margin-left: 0.3125em;
	margin-right: 0.3125em;
  }

  .quarter-horizontal-padding {
	padding-left: 0.3125em;
	padding-right: 0.3125em;
  }

  .top-space {
	margin-top: 1.25em;
  }

  .top-padding {
	padding-top: 1.25em;
  }

  .double-top-space {
	margin-top: 2.5em;
  }

  .double-top-padding {
	padding-top: 2.5em;
  }

  .half-top-space {
	margin-top: 0.625em;
  }

  .half-top-padding {
	padding-top: 0.625em;
  }

  .quarter-top-space {
	margin-top: 0.3125em;
  }

  .quarter-top-padding {
	padding-top: 0.3125em;
  }

  .right-space {
	margin-right: 1.25em;
  }

  .right-padding {
	padding-right: 1.25em;
  }

  .double-right-space {
	margin-right: 2.5em;
  }

  .double-right-padding {
	padding-right: 2.5em;
  }

  .half-right-space {
	margin-right: 0.625em;
  }

  .half-right-padding {
	padding-right: 0.625em;
  }

  .quarter-right-space {
	margin-right: 0.3125em;
  }

  .quarter-right-padding {
	padding-right: 0.3125em;
  }

  .bottom-space {
	margin-bottom: 1.25em;
  }

  .bottom-padding {
	padding-bottom: 1.25em;
  }

  .double-bottom-space {
	margin-bottom: 2.5em;
  }

  .double-bottom-padding {
	padding-bottom: 2.5em;
  }

  .half-bottom-space {
	margin-bottom: 0.625em;
  }

  .half-bottom-padding {
	padding-bottom: 0.625em;
  }

  .quarter-bottom-space {
	margin-bottom: 0.3125em;
  }

  .quarter-bottom-padding {
	padding-bottom: 0.3125em;
  }

  .left-space {
	margin-left: 1.25em;
  }

  .left-padding {
	padding-left: 1.25em;
  }

  .double-left-space {
	margin-left: 2.5em;
  }

  .double-left-padding {
	padding-left: 2.5em;
  }

  .half-left-space {
	margin-left: 0.625em;
  }

  .half-left-padding {
	padding-left: 0.625em;
  }

  .quarter-left-space {
	margin-left: 0.3125em;
  }

  .quarter-left-padding {
	padding-left: 0.3125em;
  }
}

@media screen and (max-width: 320px) {

  .ink-grid {
	padding: 0 1em;
  }

  .column-group > [class*=tiny-] {
	float: left;
	clear: none;
  }

  .tiny-5 {
	width: 5%;
  }

  .tiny-10 {
	width: 10%;
  }

  .tiny-15 {
	width: 15%;
  }

  .tiny-20 {
	width: 20%;
  }

  .tiny-25 {
	width: 25%;
  }

  .tiny-30 {
	width: 30%;
  }

  .tiny-33 {
	width: 33.33%;
  }

  .tiny-35 {
	width: 35%;
  }

  .tiny-40 {
	width: 40%;
  }

  .tiny-45 {
	width: 45%;
  }

  .tiny-50 {
	width: 50%;
  }

  .tiny-55 {
	width: 55%;
  }

  .tiny-60 {
	width: 60%;
  }

  .tiny-65 {
	width: 65%;
  }

  .tiny-66 {
	width: 66.66%;
  }

  .tiny-70 {
	width: 70%;
  }

  .tiny-75 {
	width: 75%;
  }

  .tiny-80 {
	width: 80%;
  }

  .tiny-85 {
	width: 85%;
  }

  .tiny-90 {
	width: 90%;
  }

  .tiny-95 {
	width: 95%;
  }

  .tiny-100 {
	width: 100%;
  }

  [class*=tiny-100] {
	float: none;
	clear: both;
  }

  .column-group:after {
	content: "";
	display: table;
	clear: both;
  }

  .column-group.gutters {
	margin-left: -1em;
  }

  .column-group.gutters > [class*=tiny-],
  .column-group.gutters > [class*=all-] {
	padding-left: 1em;
	margin-bottom: 1em;
  }

  .column-group.half-gutters {
	margin-left: -0.5em;
  }

  .column-group.half-gutters > [class*=tiny-],
  .column-group.half-gutters > [class*=all-] {
	padding-left: 0.5em;
	margin-bottom: 0.5em;
  }

  .space {
	margin: 1em;
  }

  .padding {
	padding: 1em;
  }

  .double-space {
	margin: 2em;
  }

  .double-padding {
	padding: 2em;
  }

  .half-space {
	margin: 0.5em;
  }

  .half-padding {
	padding: 0.5em;
  }

  .quarter-space {
	margin: 0.25em;
  }

  .quarter-padding {
	padding: 0.25em;
  }

  .vertical-space {
	margin-top: 1em;
	margin-bottom: 1em;
  }

  .vertical-padding {
	padding-top: 1em;
	padding-bottom: 1em;
  }

  .double-vertical-space {
	margin-top: 2em;
	margin-bottom: 2em;
  }

  .double-vertical-padding {
	padding-top: 2em;
	padding-bottom: 2em;
  }

  .half-vertical-space {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  }

  .half-vertical-padding {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
  }

  .quarter-vertical-space {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
  }

  .quarter-vertical-padding {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
  }

  .horizontal-space {
	margin-left: 1em;
	margin-right: 1em;
  }

  .horizontal-padding {
	padding-left: 1em;
	padding-right: 1em;
  }

  .double-horizontal-space {
	margin-left: 2em;
	margin-right: 2em;
  }

  .double-horizontal-padding {
	padding-left: 2em;
	padding-right: 2em;
  }

  .half-horizontal-space {
	margin-left: 0.5em;
	margin-right: 0.5em;
  }

  .half-horizontal-padding {
	padding-left: 0.5em;
	padding-right: 0.5em;
  }

  .quarter-horizontal-space {
	margin-left: 0.25em;
	margin-right: 0.25em;
  }

  .quarter-horizontal-padding {
	padding-left: 0.25em;
	padding-right: 0.25em;
  }

  .top-space {
	margin-top: 1em;
  }

  .top-padding {
	padding-top: 1em;
  }

  .double-top-space {
	margin-top: 2em;
  }

  .double-top-padding {
	padding-top: 2em;
  }

  .half-top-space {
	margin-top: 0.5em;
  }

  .half-top-padding {
	padding-top: 0.5em;
  }

  .quarter-top-space {
	margin-top: 0.25em;
  }

  .quarter-top-padding {
	padding-top: 0.25em;
  }

  .right-space {
	margin-right: 1em;
  }

  .right-padding {
	padding-right: 1em;
  }

  .double-right-space {
	margin-right: 2em;
  }

  .double-right-padding {
	padding-right: 2em;
  }

  .half-right-space {
	margin-right: 0.5em;
  }

  .half-right-padding {
	padding-right: 0.5em;
  }

  .quarter-right-space {
	margin-right: 0.25em;
  }

  .quarter-right-padding {
	padding-right: 0.25em;
  }

  .bottom-space {
	margin-bottom: 1em;
  }

  .bottom-padding {
	padding-bottom: 1em;
  }

  .double-bottom-space {
	margin-bottom: 2em;
  }

  .double-bottom-padding {
	padding-bottom: 2em;
  }

  .half-bottom-space {
	margin-bottom: 0.5em;
  }

  .half-bottom-padding {
	padding-bottom: 0.5em;
  }

  .quarter-bottom-space {
	margin-bottom: 0.25em;
  }

  .quarter-bottom-padding {
	padding-bottom: 0.25em;
  }

  .left-space {
	margin-left: 1em;
  }

  .left-padding {
	padding-left: 1em;
  }

  .double-left-space {
	margin-left: 2em;
  }

  .double-left-padding {
	padding-left: 2em;
  }

  .half-left-space {
	margin-left: 0.5em;
  }

  .half-left-padding {
	padding-left: 0.5em;
  }

  .quarter-left-space {
	margin-left: 0.25em;
  }

  .quarter-left-padding {
	padding-left: 0.25em;
  }
}

@media screen and (min-width: 1261px) {
  html {
	font-size: 1.08em;
  }
  html:after {
	content: '[{"name":"xlarge", "size":{"min":"1261px","max":""}},{"name":"large", "size":{"min":"961px","max":"1260px"}},{"name":"medium", "size":{"min":"641px","max":"960px"}},{"name":"small", "size":{"min":"321px","max":"640px"}},{"name":"tiny", "size":{"min":"","max":"320px"}}]';
	display: none;
  }
}
@media screen and (min-width: 961px) and (max-width: 1260px) {
  html {
	font-size: 1.05em;
  }
  html:after {
	content: '[{"name":"xlarge", "size":{"min":"1261px","max":""}},{"name":"large", "size":{"min":"961px","max":"1260px"}},{"name":"medium", "size":{"min":"641px","max":"960px"}},{"name":"small", "size":{"min":"321px","max":"640px"}},{"name":"tiny", "size":{"min":"","max":"320px"}}]';
	display: none;
  }
}
@media screen and (min-width: 641px) and (max-width: 960px) {
  html {
	font-size: 1em;
  }
  html:after {
	content: '[{"name":"xlarge", "size":{"min":"1261px","max":""}},{"name":"large", "size":{"min":"961px","max":"1260px"}},{"name":"medium", "size":{"min":"641px","max":"960px"}},{"name":"small", "size":{"min":"321px","max":"640px"}},{"name":"tiny", "size":{"min":"","max":"320px"}}]';
	display: none;
  }
}
@media screen and (min-width: 321px) and (max-width: 640px) {
  html {
	font-size: 0.98em;
  }
  html:after {
	content: '[{"name":"xlarge", "size":{"min":"1261px","max":""}},{"name":"large", "size":{"min":"961px","max":"1260px"}},{"name":"medium", "size":{"min":"641px","max":"960px"}},{"name":"small", "size":{"min":"321px","max":"640px"}},{"name":"tiny", "size":{"min":"","max":"320px"}}]';
	display: none;
  }
}
@media screen and (max-width: 320px) {
  html {
	font-size: 0.97em;
  }
  html:after {
	content: '[{"name":"xlarge", "size":{"min":"1261px","max":""}},{"name":"large", "size":{"min":"961px","max":"1260px"}},{"name":"medium", "size":{"min":"641px","max":"960px"}},{"name":"small", "size":{"min":"321px","max":"640px"}},{"name":"tiny", "size":{"min":"","max":"320px"}}]';
	display: none;
  }
}

.ink-label {
  padding: 0 0.35em;
  white-space: nowrap;
}

@media print {

	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100%;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}

	.ink-navigation {
		display: none;
	}

	.ink-table {
		border-collapse: collapse;
	}
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
	margin-top: 0;
}

small {
  color: #888888;
}

input, textarea {
  color: #666;
}

h1 small,
h2 small,
h3 small,
h4 small {
  color: #bbb;
  font-size: .6em;
  font-weight: 100;
  line-height: 1;
}

mark {
  background: #dae5f2;
}

address {
  color: #777777;
  font-size: 1em;
  line-height: 1.4;
}

address p {
  margin-top: 0;
}

address h6 {
  color: #555;
}

abbr:hover {
  cursor: help;
}

.small {
  font-size: .75em;
}

.medium {
  font-size: .85em;
}

.large {
  font-size: 1.2em;
}

.ink-label {
  background: #c91111;
  color: #fff;
  font-weight: 300;
  font-size: 0.938em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

table.ink-table {
  background: #fff;
}

table.ink-table tr th,
table.ink-table tr td {
  border-bottom: #bbb 1px solid;
}

table.ink-table tr:last-child td {
  border-bottom: none;
}

table.ink-table tfoot tr th,
table.ink-table tfoot tr td {
  border-top: #bbb 1px solid;
}

table.ink-table.alternating tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

table.ink-table.hover tbody tr:hover {
  background: #fefbd6;
  color: #555;
}

table.ink-table.bordered {
  border: #bbb 1px solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

table.ink-table.bordered tr th {
  border-left: #bbb 1px solid;
}

table.ink-table.bordered tr th:first-child {
  border-left: none;
}

table.ink-table.bordered tr:last-child td {
  border-bottom: none;
}

table.ink-table.bordered tr td {
  border-left: #bbb 1px solid;
}

table.ink-table.bordered tr td:first-child {
  border-left: none;
}

table.ink-table tbody > tr.red td {
  background: #c91111;
  color: white;
}

.ink-carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}

.ink-carousel .stage {
  width: 100%;
  left: 0;
  height: auto !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  white-space: nowrap;
  position: relative;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.ink-carousel .stage .slide {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  margin: 0;
  float: none;
  *display: inline;
}

.ink-datepicker-wrapper {
  position: relative;
}

.ink-datepicker-calendar {
  margin-top: 0;
  position: absolute;
}

.ink-datepicker-calendar.right {
  left: 100%;
  top: 0;
}

.ink-datepicker-calendar.left {
  right: 100%;
  top: 0;
}

.ink-datepicker-calendar.bottom {
  top: 100%;
  left: 0;
}

.ink-datepicker-calendar.top {
  bottom: 100%;
  left: 0;
}

.ink-datepicker-wrapper, .ink-datepicker-calendar {
  display: inline;
  display: inline-block;
}

.ink-calendar {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  padding: 0.3em;
  min-width: 17.4em;
  font-size: 13px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0;
  background: #fff;
  z-index: 10;
}

.ink-calendar a {
  text-decoration: none;
}

.ink-calendar li {
  list-style: none inside;
}

html.ink-modal-is-open .ink-calendar {
  z-index: 101;
}

.ink-calendar-top-options {
  padding: 5px;
  font-size: .813em;
  cursor: pointer;
}

.ink-calendar-top-options .clean {
  float: left;
}
.ink-calendar-top-options .close {
  float: right;
}

.ink-calendar-top {
  line-height: 2em;
  background: #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.ink-calendar-top div {
  float: left;
}

.ink-calendar-top .ink-calendar-prev,
.ink-calendar-top .ink-calendar-next {
  width: 10%;
}

.ink-calendar-top .ink-calendar-prev a,
.ink-calendar-top .ink-calendar-next a {
  display: block;
}

.ink-calendar-top .ink-calendar-month_desc {
  width: 80%;
}

.ink-calendar-month,
.ink-calendar-year-selector,
.ink-calendar-month-selector {
  margin-top: .5em;
  padding-left: 0;
}

.ink-calendar-month li a,
.ink-calendar-year-selector li a,
.ink-calendar-month-selector li a {
  margin: 0px;
  line-height: 2em;
  vertical-align: middle;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #444;
}

.ink-calendar-month li a:hover,
.ink-calendar-year-selector li a:hover,
.ink-calendar-month-selector li a:hover {
  background: #e6e6e6;
}

.ink-calendar-month li a.ink-calendar-on, .ink-calendar-month li a.ink-calendar-on:hover,
.ink-calendar-year-selector li a.ink-calendar-on,
.ink-calendar-year-selector li a.ink-calendar-on:hover,
.ink-calendar-month-selector li a.ink-calendar-on,
.ink-calendar-month-selector li a.ink-calendar-on:hover {
  background: #0069d6;
  color: #fff;
}

.ink-calendar-month li a.ink-calendar-off, .ink-calendar-month li a.ink-calendar-off:hover,
.ink-calendar-year-selector li a.ink-calendar-off,
.ink-calendar-year-selector li a.ink-calendar-off:hover,
.ink-calendar-month-selector li a.ink-calendar-off,
.ink-calendar-month-selector li a.ink-calendar-off:hover {
  background: #fff;
  color: #aaa;
  cursor: default;
}

.ink-calendar-month ul,
.ink-calendar-year-selector ul,
.ink-calendar-month-selector ul {
  clear: both;
  padding-left: 0;
}

.ink-calendar-month ul li,
.ink-calendar-year-selector ul li,
.ink-calendar-month-selector ul li {
  width: 2.4em;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
}

.ink-calendar-year-selector ul li {
  width: 25%;
}

.ink-calendar-month-selector ul li {
  width: 25%;
}

.ink-calendar-year-selector,
.ink-calendar-month-selector {
  display: none;
}

.ink-calendar-off,
.action_inactive {
  color: #ddd !important;
}

.ink-calendar-month .ink-calendar-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: .5em;
  margin-bottom: .5em;
  color: #aaa;
}

.ink-calendar-top:after,
.ink-calendar-middle:after,
.ink-calendar-top-options:after,
.ink-calendar-month .ink-calendar-header:after,
.ink-calendar-month .ink-calendar-middle ul:after {
  content: "";
  display: table;
  clear: both;
}

.ink-shade {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgOAMAAM8AzbfAeUUAAAAASUVORK5CYII=);
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: fixed;
  z-index: 100;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.ink-shade.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.ink-shade.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.ink-modal {
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  margin-top: -45vh;
  margin-left: -45vw;
  background: #fff;
  z-index: 100;
  position: absolute;
  overflow: hidden;
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px 0;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.ink-modal:after {
  content: "";
  display: table;
  clear: both;
}

.ink-modal > .modal-body {
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}

.ink-modal > .modal-body .ink-grid {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  min-width: 100%;
}

.ink-modal > .modal-header,
.ink-modal > header {
  border-bottom: 1px #e6e6e6 solid;
  overflow: hidden;
  -webkit-box-shadow: rgba(175, 175, 175, 0.2) 0 1px 2px 0;
  -moz-box-shadow: rgba(175, 175, 175, 0.2) 0 1px 2px 0;
  box-shadow: rgba(175, 175, 175, 0.2) 0 1px 2px 0;
}

.ink-modal > .modal-header > .modal-close,
.ink-modal > header > .modal-close {
  padding-top: 2px;
  text-align: center;
  color: #fff;
  width: 26px;
  height: 26px;
  line-height: 1.2em;
  border: 0;
  background: #bfbfbf;
  font-size: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  float: right;
}
.ink-modal > .modal-header > .modal-close:after,
.ink-modal > header > .modal-close:after {
  content: "\f00d";
  font-family: FontAwesome;
  font-size: medium;
  line-height: 22px;
}

.ink-modal > .modal-header > .modal-close:hover,
.ink-modal > header > .modal-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.ink-modal > .modal-footer,
.ink-modal > footer {
  background: #e6e6e6;
  margin-bottom: 0;
  zoom: 1;
  -webkit-box-shadow: rgba(175, 175, 175, 0.2) 0 -1px 2px 0;
  -moz-box-shadow: rgba(175, 175, 175, 0.2) 0 -1px 2px 0;
  box-shadow: rgba(175, 175, 175, 0.2) 0 -1px 2px 0;
}

.ink-modal > .modal-header, .ink-modal > header,
.ink-modal > .modal-footer, .ink-modal > footer {
  padding: .8em 1em .65em 1em;
}

.ink-modal > .modal-header:before,
.ink-modal > .modal-header:after,
.ink-modal > header:before,
.ink-modal > header:after,
.ink-modal > .modal-footer:before,
.ink-modal > .modal-footer:after,
.ink-modal > footer:before,
.ink-modal > footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ink-modal-open {
  overflow: hidden;
}

.ink-sticky-stuck {
  position: fixed;
}

.ink-tabs .tabs-nav {
  list-style: none;
  padding: 0em;
}

.ink-tabs .tabs-nav li {
  line-height: 1.7;
  position: relative;
  margin: 0;
}
.ink-tabs .tabs-nav li a {
  padding: 0.5em 1em;
  display: block;
  border: 1px solid transparent;
}
.ink-tabs .tabs-nav li a:hover {
  background: #f0f0f0;
}
.ink-tabs .tabs-nav li.active a {
  color: #555;
  cursor: default;
  text-decoration: none;
  background: #fff;
  border: 1px solid #cccccc;
}
.ink-tabs .tabs-nav:after {
  content: "";
  display: table;
  clear: both;
}
.ink-tabs .tabs-content {
  margin-top: 1.5em;
  overflow: auto;
}
.ink-tabs.top > .tabs-nav {
  border-bottom: 1px solid #cccccc;
}
.ink-tabs.top > .tabs-nav li {
  float: left;
}
.ink-tabs.top > .tabs-nav li a {
  margin-right: .4em;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.ink-tabs.top > .tabs-nav li.active {
  margin: 0 0 -2px 0;
}
.ink-tabs.top > .tabs-nav li.active a {
  border-bottom-color: transparent;
}
.ink-tabs.bottom > .tabs-nav {
  border-top: 1px solid #cccccc;
}
.ink-tabs.bottom > .tabs-nav li {
  float: left;
}
.ink-tabs.bottom > .tabs-nav li a {
  margin-right: .4em;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.ink-tabs.bottom > .tabs-nav li.active {
  margin: -2px 0 0 0;
}
.ink-tabs.bottom > .tabs-nav li.active a {
  border-top-color: transparent;
}
.ink-tabs.left > .tabs-nav {
  border-right: 1px solid #cccccc;
  float: left;
  margin-right: 2em;
}
.ink-tabs.left > .tabs-nav li {
  float: none;
  text-align: right;
}
.ink-tabs.left > .tabs-nav li a {
  margin-bottom: .4em;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.ink-tabs.left > .tabs-nav li.active {
  margin: 0 -2px 0 0;
}

.ink-tabs.left > .tabs-nav li.active a {
  border-right-color: transparent;
}

.ink-tabs.right > .tabs-nav {
  border-left: 1px solid #cccccc;
  float: right;
  margin-left: 2em;
}

.ink-tabs.right > .tabs-nav li {
  float: none;
}

.ink-tabs.right > .tabs-nav li a {
  margin-bottom: .4em;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.ink-tabs.right > .tabs-nav li.active {
  margin: 0 0 0 -2px;
}

.ink-tabs.right > .tabs-nav li.active a {
  border-left-color: transparent;
}