@charset "UTF-8";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background: #ededed;
	color: #555;
	font: normal normal normal 1em/1.45 "Roboto", Arial, Helvetica, sans-serif;
	font-size: inherit;
	margin: 0 auto;
	min-height: 100%;
	height: 100%;
	margin-bottom: 100px;
}

article,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

b, strong {
  font-weight: bold;
   word-break:break-all;
}

header {
	display: block;
	position: relative;
	margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
	color: #404040;
	font-weight: 700;
	line-height: 1.2em;
}

h5, h6, p, table {
	margin-top: 0;
	margin-bottom: 1.2em;
}

h1 {
	font-size: 2.2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.75em;
	margin-top: 0;
	margin-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0.87em;
}

h4 {
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 1.0em;
}

h5 {
	font-size: 1.1em;
	font-weight: 700;
}

h6 {
	font-size: 1.1em;
	font-weight: 700;
}

img {
	border: 0;
	max-width: 100%;
	width: auto;
	vertical-align: top;
}

input {
	line-height: normal;
}

button, input, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

p {
	font-size: 1.0em;
	word-wrap: break-word;
	 white-space: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1.0em;
}

td, th {
	padding: 0;
}

header h1 {
	padding: 0.5em 0;
	margin: 0 0.5em;
	font-size: 2em;
}

header h1 small:before  {
	content: "|";
	margin: 0 0.5em;
	font-size: 1.6em;
}

footer {
	background: #ccc;
	bottom: 0;
	clear: both;
	position: fixed;
	width: 100%;
}

a {
	background: transparent;
	color: #6998C9;
	text-decoration: none;
	cursor: pointer;
}

a:active, a:hover {
	outline: 0;
}

a:hover {
	color: #007ED5;
	text-decoration: underline;
}

b, strong {
  font-weight: bold;
   white-space: normal;

}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

blockquote {
	border-left: 4px solid #ddd;
	padding-left: 25px;
	margin: 1.0em 0;
	font-weight: 300;
	font-size: 0.85em;
}

blockquote small {
	font-size: .6em;
}

blockquote small::before,
blockquote small::after {
	content: ' — ';
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	border: 0;
	padding: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

textarea {
	overflow: auto;
}

ul, ol {
	line-height: 1.4;
	padding: 0 0 0 1.45em;
	margin: 1em 0;
}

ul li, ol li {
	margin: 0.5em 0;
}

ul.unstyled {
	list-style: none;
	padding-left: 0em;
}

ul.unstyled ul {
	list-style: disc outside;
}

ul.unstyled ul.unstyled {
	list-style: none;
	padding-left: 0em;
}

ul.inline {
	list-style: none;
}

ul.inline li {
	display: inline-block;
	padding: 0 .5em;
}

ul.inline li:first-child {
	padding: 0 .5em 0 0;
}

nav.fixed-header {
	position: fixed;
	left:0;
	top: 0;
	width: 100%;
	z-index: 1;
}

a.red {
	color: #690000;
}

a.red:hover {
	color: #aa0000;
	text-decoration: underline;
}

/*********************/
.ink-form fieldset {
	border: none;
	margin-bottom: 1.5em;
	padding: 0;
	margin: 0;
}

.ink-form fieldset legend {
	font-size: 1.4em;
	font-weight: 700;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.ink-form fieldset legend + * {
	margin: 2.0em 0;
}

/*********************/

figure {
  margin: 0;
}

figure.ink-image {
	position: relative;
	border: 1px solid #555;
}

figure.ink-image > img {
	width: 100%;
}

figure.ink-image > figcaption {
	background: rgba(0, 0, 0, 0.4);
	border: none;
	bottom: 0;
	color: #fff;
	left: 0;
	line-height: 1.2em;
	padding: 1.0em;
	position: absolute;
	width: 100%;
}
/*********************/

.ink-alert.basic,
.ink-alert.block {
	font-size: 1.0em;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.center {
	margin: 0 auto;
	position: relative;
}

.ink-alert.block {
	margin-top: 0;
	margin-bottom: 1.0em;
}

.ink-alert.basic {
	margin: 1.5em 0;
	padding: 1.0em 3.0em 1.0em 1.0em;
}

.ink-alert.basic p {
	border-radius: 2px;
	margin: 0;
}

.ink-alert.basic {
	background: rgba(255, 156, 0, 0.25);
	color: #b87814;
	border: 1px solid #b87814;
}

.ink-alert.block p {
	border-radius: 2px;
	margin: 1.5em 1.0em;
}

.ink-alert.block > h4 {
	background: rgba(255, 156, 0, 0.3);
	color: #b87814;
	font-size: 1.0em;
	line-height: 1.2em;
	margin: 0;
	padding: 1.0em 3.0em 1.0em 1.0em;
}

.ink-alert.block ul {
	list-style: inside;
}

.ink-alert.block {
	border: 1px solid #b87814;
	background: #fff;
}

.ink-alert.basic.success {
	background: rgba(74, 155, 23, 0.25);
	color: #38621d;
	border: 1px solid #38621d;
}

.ink-alert.basic.error {
	background: rgba(201, 17, 17, 0.25);
	color: #891e1e;
	border: 1px solid #891e1e;
}

.ink-alert.basic.info {
	background: rgba(15, 117, 218, 0.25);
	color: #1e5b98;
	border: 1px solid #1e5b98;
}

.ink-alert.block.success {
	border: 1px solid #38621d;
	background: #fff;
}

.ink-alert.block.success > h4 {
	background: rgba(74, 155, 23, 0.3);
	color: #38621d;
}

.ink-alert.block.error {
	border: 1px solid #891e1e;
	background: #fff;
}

.ink-alert.block.error > h4 {
	background: rgba(201, 17, 17, 0.3);
	color: #891e1e;
}

.ink-alert.block.info {
	border: 1px solid #1e5b98;
	background: #fff;
}

.ink-alert.block.info > h4 {
	background: rgba(15, 117, 218, 0.3);
	color: #1e5b98;
}

.panel {
	border-radius: 2px;
	-webkit-box-shadow: #dddddd 0 1px 1px 0;
	-moz-box-shadow: #dddddd 0 1px 1px 0;
	box-shadow: #dddddd 0 1px 1px 0;
	padding: 1em;
	border: 1px solid #BBB;
	background-color: #FFF;
}

/*********************/

.ink-button {
	color: #fff;
	background: #c91111;
	border: 1px solid #aa0e0e;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	font-weight: 300;
}

.ink-button:hover,
.ink-button:active {
	text-decoration: none;
	color: #fff;
	background: #b10f0f;
	border: 1px solid #920c0c;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
}

.ink-button:focus {
  outline: none;
  background: #b10f0f;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
}

.ink-button[disabled] {
  background: rgba(201, 17, 17, 0.6);
  border: 1px solid rgba(201, 17, 17, 0);
  color: #9a0d0d;
}

.ink-button[disabled]:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*********************/

.ink-navigation ul.menu {
	background: #be1c1c;
}

.ink-navigation ul.menu li ul.submenu {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.ink-navigation ul.menu li ul.submenu li a {
	color: #555;
}

.ink-navigation ul.menu li ul.submenu li a:hover {
	background: rgba(0, 0, 0, 0.05);
}

.ink-navigation ul.menu li.disabled a:hover {
	background: none;
}

.ink-navigation ul.menu li.active {
	background: #9a0d0d;
}

.ink-navigation ul.menu li.disabled a {
	color: #6b0909;
	text-shadow: #eb1717 0 1px 0;
}

.ink-navigation ul.menu li a {
	color: #fff;
	text-decoration: none;
}

.ink-navigation ul.menu li a:hover {
	background: #b10f0f;
}

table.ink-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table.ink-table th,
table.ink-table td {
	padding: 5px 10px;
	line-height: 1.5em;
}

table.ink-table th[data-sortable="true"]:hover {
	cursor: pointer;
	text-decoration: underline;
}

table.ink-table th[data-sortable="true"]:hover i {
	text-decoration: none;
}

table.ink-table th[data-sortable="true"] i {
	padding-left: .5em;
}

table.ink-table.hover tbody tr:hover {
	cursor: pointer;
}

table.ink-table.bordered {
	border-collapse: separate;
}

div.gmaps {
	height: 400px;
}