.ink-form fieldset {
	border: none;
	margin-bottom: 1.5em;
	padding: 0;
	margin: 0;
}

.ink-form fieldset legend {
	font-size: 1.438em;
	font-weight: 700;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.ink-form fieldset legend + * {
	margin: 2em 0;
}

.ink-form p.tip {
	font-size: .875em;
	color: #909090;
	position: relative;
	margin: .2em 0 0 .1em;
}

.ink-form p.label {
	padding: 0;
	margin: 0;
	color: #555;
	white-space: normal;
}

.ink-form select,
.ink-form textarea,
.ink-form input[type="text"],
.ink-form input[type="password"],
.ink-form input[type="datetime"],
.ink-form input[type="datetime-local"],
.ink-form input[type="date"],
.ink-form input[type="month"],
.ink-form input[type="time"],
.ink-form input[type="week"],
.ink-form input[type="number"],
.ink-form input[type="email"],
.ink-form input[type="url"],
.ink-form input[type="search"],
.ink-form input[type="tel"],
.ink-form input[type="color"] {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: 300;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	padding: 8px 6px;
	border: 1px solid #c6c6c6;
	resize: none;
	background: #FFF;
	vertical-align: middle;
}

.ink-form select:focus,
.ink-form textarea:focus,
.ink-form input[type="text"]:focus,
.ink-form input[type="password"]:focus,
.ink-form input[type="datetime"]:focus,
.ink-form input[type="datetime-local"]:focus,
.ink-form input[type="date"]:focus,
.ink-form input[type="month"]:focus,
.ink-form input[type="time"]:focus,
.ink-form input[type="week"]:focus,
.ink-form input[type="number"]:focus,
.ink-form input[type="email"]:focus,
.ink-form input[type="url"]:focus,
.ink-form input[type="search"]:focus,
.ink-form input[type="tel"]:focus,
.ink-form input[type="color"]:focus {
	outline: none;
	border-color: rgba(153, 153, 153, 0.9);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	outline: 0 none;
}

.ink-form select:disabled,
.ink-form textarea:disabled,
.ink-form input[type="text"]:disabled,
.ink-form input[type="password"]:disabled,
.ink-form input[type="datetime"]:disabled,
.ink-form input[type="datetime-local"]:disabled,
.ink-form input[type="date"]:disabled,
.ink-form input[type="month"]:disabled,
.ink-form input[type="time"]:disabled,
.ink-form input[type="week"]:disabled,
.ink-form input[type="number"]:disabled,
.ink-form input[type="email"]:disabled,
.ink-form input[type="url"]:disabled,
.ink-form input[type="search"]:disabled,
.ink-form input[type="tel"]:disabled,
.ink-form input[type="color"]:disabled {
	background: #f2f2f2;
	cursor: not-allowed;
}

.ink-form .input-file {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	background: #FFF;
	border-radius: 2px;
	border: 1px solid #c6c6c6;
	line-height: 1.2;
	padding: 6px;
	vertical-align: middle;
}

.ink-form .input-file input[type="file"] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	background: none;
	border-radius: 0;
	border: none;
	cursor: pointer;
	padding: 0;
	width: 100%;
}

.ink-form .ink-button {
	margin: 0 5px;
}

.ink-form label {
	cursor: pointer;
}

.ink-form select {
	line-height: 2;
	cursor: pointer;
}

.ink-form textarea {
	min-height: 5em;
}

.ink-form .control-group {
	line-height: 2;
	margin-bottom: 1em;
}

.ink-form .control-group:after {
	content: "";
	display: table;
	clear: both;
}

.ink-form .control-group .control {
	position: relative;
}

.ink-form .control-group .control:after {
	content: "";
	display: table;
	clear: both;
}

.ink-form .control-group .control > li {
	position: relative;
}

.ink-form .control-group .control > li:after {
	content: "";
	display: table;
	clear: both;
}

.ink-form .control-group .control > input,
.ink-form .control-group .control > select,
.ink-form .control-group .control > textarea {
	width: 100%;
}

.ink-form .control-group .control > input + .fa,
.ink-form .control-group .control > select + .fa,
.ink-form .control-group .control > textarea + .fa {
	display: none;
}

.ink-form .control-group .control.append-button > span,
.ink-form .control-group .control.append-symbol > span,
.ink-form .control-group .control.prepend-button > span,
.ink-form .control-group .control.prepend-symbol > span {
	width: 100%;
	position: relative;
}

.ink-form .control-group .control.append-button > span > input,
.ink-form .control-group .control.append-button > span > select,
.ink-form .control-group .control.append-button > span > textarea,
.ink-form .control-group .control.append-symbol > span > input,
.ink-form .control-group .control.append-symbol > span > select,
.ink-form .control-group .control.append-symbol > span > textarea,
.ink-form .control-group .control.prepend-button > span > input,
.ink-form .control-group .control.prepend-button > span > select,
.ink-form .control-group .control.prepend-button > span > textarea,
.ink-form .control-group .control.prepend-symbol > span > input,
.ink-form .control-group .control.prepend-symbol > span > select,
.ink-form .control-group .control.prepend-symbol > span > textarea {
	width: 100%;
}

.ink-form .control-group .control.append-button > input[type="submit"],
.ink-form .control-group .control.append-button > input[type="button"],
.ink-form .control-group .control.append-button > input[type="reset"],
.ink-form .control-group .control.append-symbol > input[type="submit"],
.ink-form .control-group .control.append-symbol > input[type="button"],
.ink-form .control-group .control.append-symbol > input[type="reset"],
.ink-form .control-group .control.prepend-button > input[type="submit"],
.ink-form .control-group .control.prepend-button > input[type="button"],
.ink-form .control-group .control.prepend-button > input[type="reset"],
.ink-form .control-group .control.prepend-symbol > input[type="submit"],
.ink-form .control-group .control.prepend-symbol > input[type="button"],
.ink-form .control-group .control.prepend-symbol > input[type="reset"] {
	width: auto;
}

.ink-form .control-group .control.append-button {
	display: table;
}

.ink-form .control-group .control.append-button > span {
	display: table-cell;
}

.ink-form .control-group .control.append-button > span > input,
.ink-form .control-group .control.append-button > span > select,
.ink-form .control-group .control.append-button > span > textarea {
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-ms-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}

.ink-form .control-group .control.append-button .ink-button {
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-ms-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	border-left: none;
	margin: 0;
}

.ink-form .control-group .control.prepend-button {
	display: table;
}

.ink-form .control-group .control.prepend-button > span {
	display: table-cell;
}

.ink-form .control-group .control.prepend-button > span > input,
.ink-form .control-group .control.prepend-button > span > select,
.ink-form .control-group .control.prepend-button > span > textarea {
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-ms-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
}

.ink-form .control-group .control.prepend-button .ink-button {
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-ms-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	border-right: none;
	margin: 0;
}

.ink-form .control-group .control.append-symbol > span {
	display: block;
}

.ink-form .control-group .control.append-symbol > span > input,
.ink-form .control-group .control.append-symbol > span > select,
.ink-form .control-group .control.append-symbol > span > textarea {
	padding-right: 2.5em;
}

.ink-form .control-group .control.append-symbol > span > [class^="fa-"],
.ink-form .control-group .control.append-symbol > span > [class*=" fa-"] {
	position: absolute;
	right: 1em;
	top: .76em;
	pointer-events: none;
}

.ink-form .control-group .control.prepend-symbol > span {
	display: block;
}

.ink-form .control-group .control.prepend-symbol > span > input,
.ink-form .control-group .control.prepend-symbol > span > select,
.ink-form .control-group .control.prepend-symbol > span > textarea {
	padding-left: 2.5em;
}

.ink-form .control-group .control.prepend-symbol > span > [class^="fa-"],
.ink-form .control-group .control.prepend-symbol > span > [class*=" fa-"] {
	position: absolute;
	left: 1em;
	top: .76em;
	pointer-events: none;
}

.ink-form .control-group input[type="radio"],
.ink-form .control-group input[type="checkbox"] {
	position: absolute;
	border: none;
	cursor: pointer;
}

.ink-form .control-group input[type="radio"] + label,
.ink-form .control-group input[type="checkbox"] + label {
	margin-top: -.28em;
	padding-left: 1.25em;
	vertical-align: super;
	display: inline-block;
}

.ink-form .control-group .inline li {
	padding: 0;
}

.ink-form .control-group .inline li label {
	margin-right: 1em;
}

.ink-form .control-group.validation.error input,
.ink-form .control-group.validation.error textarea,
.ink-form .control-group.validation.error select {
	outline: none;
	border-color: rgba(200, 10, 16, 0.8);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	border: 1px solid rgba(200, 10, 16, 0.5);
}

.ink-form .control-group.validation.error p.tip {
	color: rgba(150, 7, 12, 0.55);
}

.ink-form .control-group.validation.warning input,
.ink-form .control-group.validation.warning textarea,
.ink-form .control-group.validation.warning select {
	outline: none;
	border-color: rgba(255, 156, 0, 0.9);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	border: 1px solid rgba(255, 156, 0, 0.6);
}

.ink-form .control-group.validation.warning p.tip {
	color: rgba(204, 125, 0, 0.6);
}

.ink-form .control-group.required label,
.ink-form .control-group.required p.label {
	color: #555;
}

.ink-form .control-group.required label:after,
.ink-form .control-group.required p.label:after {
	content: "\f069";
	color: #c91111;
	margin-left: .6em;
	font-family: FontAwesome;
	font-size: .75em;
	width: 1.25em;
}

.ink-form .control-group.required ul.control label:after {
	content: "";
}