body {
	background: #ededed;
	margin: 0;
	min-height: 100%;
	height: 100%;
	margin-bottom: 100px;
}

b, strong {
  font-weight: bold;
}

.panel {
	border-radius: 2px;
	-webkit-box-shadow: #dddddd 0 1px 1px 0;
	-moz-box-shadow: #dddddd 0 1px 1px 0;
	box-shadow: #dddddd 0 1px 1px 0;
	padding: 1em;
	border: 1px solid #BBB;
	background-color: #FFF;
}

header {
	display: block;
	position: relative;
	margin-bottom: 2em;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	margin: .67em 0;
}

h2 {
	font-size: 1.75em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.74571em;
}

h3 {
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.87em;
}

nav.fixed-header {
	position: fixed;
	left:0;
	top: 0;
	width: 100%; 
	z-index: 1;
}

h4 {
	font-size: 1.25em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 1.044em;
}

h5, h6 {
	font-size: 1.1em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 1.18636em;
}

header h1 {
	padding: 0.5em 0;
	margin: 0 0.5em;
	font-size: 2em;
}

header h1 small:before  {
	content: "|";
	margin: 0 0.5em;
	font-size: 1.6em;
}

footer {
	background: #ccc;
	bottom: 0;
	clear: both;
	position: fixed;
	width: 100%;
}

img {
	border: 0;
	max-width: 100%;
	width: auto;
	vertical-align: top;
}

small {
	font-size: 80%;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	border: 0;
	padding: 0;
}
/*********************/
.ink-form fieldset {
	border: none;
	margin-bottom: 1.5em;
	padding: 0;
	margin: 0;
}

.ink-form fieldset legend {
	font-size: 1.4em;
	font-weight: 700;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.ink-form fieldset legend + * {
	margin: 2.0em 0;
}
/*********************/
figure.ink-image {
	position: relative;
	border: 1px solid #555;
}

figure.ink-image > img {
	width: 100%;
}

figure.ink-image > figcaption {
	background: rgba(0, 0, 0, 0.4);
	border: none;
	bottom: 0;
	color: #fff;
	left: 0;
	line-height: 1.2em;
	padding: 1.0em;
	position: absolute;
	width: 100%;
}
/*********************/
.ink-alert.basic,
.ink-alert.block {
	font-size: 1.0em;
	position: relative;
	overflow: hidden;
}

.ink-alert.block {
	margin-top: 0;
	margin-bottom: 1.0em;
}

.ink-alert.basic {
	margin: 1.5em 0;
	padding: 1.0em 3.0em 1.0em 1.0em;
}

.ink-alert.basic p {
	border-radius: 2px;
	margin: 0;
}

.ink-alert.basic {
	background: rgba(255, 156, 0, 0.25);
	color: #b87814;
	border: 1px solid #b87814;
}

.ink-alert.block p {
	border-radius: 2px;
	margin: 1.5em 1.0em;
}

.ink-alert.block > h4 {
	background: rgba(255, 156, 0, 0.3);
	color: #b87814;
	font-size: 1.0em;
	line-height: 1.2em;
	margin: 0;
	padding: 1.0em 3.0em 1.0em 1.0em;
}

.ink-alert.block ul {
	list-style: inside;
}

.ink-alert.block {
	border: 1px solid #b87814;
	background: #fff;
}

.ink-alert.basic.success {
	background: rgba(74, 155, 23, 0.25);
	color: #38621d;
	border: 1px solid #38621d;
}

.ink-alert.basic.error {
	background: rgba(201, 17, 17, 0.25);
	color: #891e1e;
	border: 1px solid #891e1e;
}

.ink-alert.basic.info {
	background: rgba(15, 117, 218, 0.25);
	color: #1e5b98;
	border: 1px solid #1e5b98;
}

.ink-alert.block.success {
	border: 1px solid #38621d;
	background: #fff;
}

.ink-alert.block.success > h4 {
	background: rgba(74, 155, 23, 0.3);
	color: #38621d;
}

.ink-alert.block.error {
	border: 1px solid #891e1e;
	background: #fff;
}

.ink-alert.block.error > h4 {
	background: rgba(201, 17, 17, 0.3);
	color: #891e1e;
}

.ink-alert.block.info {
	border: 1px solid #1e5b98;
	background: #fff;
}

.ink-alert.block.info > h4 {
	background: rgba(15, 117, 218, 0.3);
	color: #1e5b98;
}

.ink-button.red {
	color: #fff;
	background: #c91111;
	border: 1px solid #aa0e0e;
}
/*********************/
.ink-button.red:hover,
.ink-button.red:active {
	background: #b10f0f;
	border: 1px solid #920c0c;
	color: #fff;
	text-decoration: none;
}

.ink-button.red:focus {
	background: #b10f0f;
}

.ink-button.red[disabled] {
	background: rgba(201, 17, 17, 0.6);
	border: 1px solid rgba(201, 17, 17, 0);
	color: #9a0d0d;
}

.ink-button.red[disabled]:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*********************/
.ink-navigation ul.menu.red {
	background: #be1c1c;
}

.ink-navigation ul.menu.red li ul.submenu {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.ink-navigation ul.menu.red li ul.submenu li a {
	color: #555;
}

.ink-navigation ul.menu.red li ul.submenu li a:hover {
	background: rgba(0, 0, 0, 0.05);
}
.ink-navigation ul.menu.red li.disabled a:hover {
	background: none;
}

.ink-navigation ul.menu.red li.active {
	background: #9a0d0d;
}

.ink-navigation ul.menu.red li.disabled a {
	color: #6b0909;
	text-shadow: #eb1717 0 1px 0;
}

.ink-navigation ul.menu.red li a {
	color: #fff;
	text-decoration: none;
}

.ink-navigation ul.menu.red li a:hover {
	background: #b10f0f;
}

.vertical-space {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

.half-vertical-space {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.horizontal-space {
	margin-left: 1.25em;
	margin-right: 1.25em;
}

.horizontal-padding {
	padding-left: 1.25em;
	padding-right: 1.25em;
}

.half-horizontal-space {
	margin-left: 0.625em;
	margin-right: 0.625em;
}

.half-horizontal-padding {
	padding-left: 0.625em;
	padding-right: 0.625em;
}

.quarter-horizontal-space {
	margin-left: 0.3125em;
	margin-right: 0.3125em;
}

.quarter-horizontal-padding {
	padding-left: 0.3125em;
	padding-right: 0.3125em;
}

div.gmaps {
	height: 400px;
}
/*********************/
.slab {
	font-family: Roboto_slab, Arial, Helvetica, sans-serif;
}

.condensed {
	font-family: Roboto_condensed, Arial, Helvetica, sans-serif;
}

.condensed-thin {
	font-weight: 300;
	font-family: Roboto_condensed, Arial, Helvetica, sans-serif;
}

.condensed-regular {
	font-weight: 400;
	font-family: Roboto_condensed, Arial, Helvetica, sans-serif;
}

.condensed-bold {
	font-weight: 700;
	font-family: Roboto_condensed, Arial, Helvetica, sans-serif;
}
/*********************/